configuration {
  show-icons: true;
  drun {
    display-name: "";
  }
  run {
    display-name: "";
  }

  window {
    display-name: "";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  } 
}
@theme "~/.config/rofi/themes/dracula.rasi"
